<div id="body">
<p>My name is <span>Bryan Frey</span> and I am a <span>Front-End Web Developer</span> who specializes in creating dynamic and beautiful web pages. Coding has become an passion of mine, especially tackling problems, cleaning up code, and creating new applications. I've taken a 16 week coding bootcamp at Codify Academy that gave me the skills to develop cool and fun applications. I have continued learning new technologies through online courses and videos. I reguarly attend tech/code meet-up groups, seminars and workshops in the Bay Area. When I'm not coding, I check out other people's projects on CodePen and Github</p>
<br>
<h3>
    <u>
    <a href="http://mycodemine.com">Portfolio</a>
    </u>
</h3>
</div>