<div id="body">
<h3>Built with the latest:</h3>
<ul *ngFor="let skill of skills; let i = index">{{i+1}}: {{skill}}
</ul>

<!-- <button (click)="onClick()">Click Me</button> -->
<button id="edit"(click)="toggleEdit()">Edit Text</button>

<div *ngIf=isEdit>
<h3>Edit Text</h3>
<h4>{{name}}</h4>

<form>
  <div>
    <label for="name">Type text:</label>
    <input type='text' [(ngModel)]="name" name="name">
  </div>
</form>
</div>

<h3>Hobbies</h3>
<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">My favorite things to do are:</label>
    <input type='text' #hobby>
  </div>
</form>
  <ul *ngFor="let hobby of hobbies; let i = index">{{i+1}}: {{hobby}} 
      <button id="x" (click)="deleteHobby(hobby)">X</button>
  </ul>

  <h3>Sample Posts</h3>
  <div *ngFor="let post of posts">
    <h4>{{post.title}}</h4>
    <p>{{post.body}}</p>
  </div>
  </div>